/* Login.css */

/* Basic reset */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 .login-container body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 500px;
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .login-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
  }
  
  .login-container form div {
    margin-bottom: 15px;
    align-items: center;
  }
  
  .login-container label {
    display: block;
    font-size: 18px;
    color: #555;
    margin-bottom: 8px;
  }
  
  input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 20px;
  }
  
  button {
    padding: 12px;
    font-size: 16px;
    color: white;
    background-color: #4caf50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button:disabled {
    background-color: #ccc;
  }
  
  button + button {
    margin-top: 15px;
    background-color: #007bff;
  }
  
  button + button:hover {
    background-color: #0056b3;
  }
  