.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3587A4;
  color: white;
  font-size: 25px;
  position: fixed;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 0px;
  width: 100%;
  left: 0;
  margin: 0; /* Ensure no extra space */
  box-sizing: border-box;
  z-index: 1000;
}

body, html {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}


.title {
  text-align: left;
  padding-left: 10px; /* Keep this */
  margin-left: 0; /* Remove shifting caused by margin */
  color: white;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: flex-end; /* Align links to the right */
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}
.nav-link.active {
  color: #1B2845; /* Change this to the color you want for the active link */
  font-weight: bold;
}
